extends ../../pug/head.pug 
block append head
    link(rel="stylesheet", href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css")
    script(src="https://code.jquery.com/jquery-3.6.0.js")
    script(src="https://code.jquery.com/ui/1.13.2/jquery-ui.js")
block body 
    block mixins
        include ../../pug/mixins/button-mixin.pug
        include ../../pug/mixins/slider-mixin.pug
        include ../../pug/mixins/card-mixin.pug
    main.main 
        .main__row
            h1.main__title Рассчитайте стоимость автомобиля в лизинг
        .main__row
            +card-mixin("main__card", "Стоимость автомобиля")
                +slider-mixin("main__slider", "cost-of-car", "main__slider__value", "cost-of-car__value", "", "cost-of-car__description")
            +card-mixin("main__card", "Первоначальный взнос")
                +slider-mixin("main__slider", "initial-payment", "main__slider__value", "initial-payment__value", "", "initial-payment__description")
            +card-mixin("main__card", "Срок лизинга")
                +slider-mixin("main__slider", "lease-term", "main__slider__value", "lease-term__value", "", "lease-term__description")
        .main__row
            +card-mixin("main__card", "Сумма договора лизинга")
                input(type="text", readonly="true", id="lease-amount")
            +card-mixin("main__card", "Ежемесячный платеж от")
                input(type="text", readonly="true", id="monthly-payment")
            +card-mixin("main__card", "")
                include ../../blocks/button/button.pug