// VARIABLES

@import "/src/scss/variables.scss";

// FONTS

@import "/src/scss/fonts.scss";

// MIXINS

@import "/src/scss/mixins/Gilroy-Regular";
@import "/src/scss/mixins/Nekst-Black";

// BLOCKS

@import "/src/blocks/button/button.scss";

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    &__title {
        width: 50%;
        @include Nekst-Black(54px, 90%);
    }
}

.custom-handle {
    width: 20px !important;
    height: 20px !important;
    border: none !important;
    border-radius: 50% !important;
    outline: none !important;
    background: #ff9514 !important;
    top: -9px !important;
}

.custom-range {
    height: 2px !important;
    border: none !important;
    outline: none !important;
    background: #ff9514 !important;
}

.main__slider {
    width: calc(100% - 48px) !important;
    position: absolute;
    bottom: 0;
    left: 24px;
    height: 2px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: none !important;
    outline: none !important;
    background: #e1e1e1 !important;
    cursor: pointer !important;
}

.slider__wrapper {
    margin: 0 10px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    height: 68px;
    padding: 0 7px;
    background: #f3f3f4;
    border-radius: 16px;
}

.input__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0;
}

.ui-slider {
    &-value {
        padding-left: 17px;
        width: 75%;
        background: transparent;
        border: none;
        outline: none;
        color: $secondary-text-color;
        text-align: left;
        @include Nekst-Black(30px, 36px);
    }
    &-description {
        padding-right: 17px;
        width: 25%;
        background: transparent;
        border: none;
        outline: none;
        text-align: right;
        color: $secondary-text-color;
        @include Nekst-Black(30px, 36px);
    }
}

#initial-payment__description {
    // padding: 15px 17px;
    width: 69px;
    height: 54px;
    background: #ebebec;
    border-radius: 16px;
}
