// VARIABLES

@import "/src/scss/variables.scss";

// FONTS

@import "/src/scss/fonts.scss";

// MIXINS

@import "/src/scss/mixins/Gilroy-Regular";
@import "/src/scss/mixins/Nekst-Black";

// BLOCKS

@import "/src/blocks/button/button.scss";

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.main {
    height: fit-content;
    // width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &__title {
        width: 50%;
        margin: 0 9px;
        @include Nekst-Black(54px, 90%);
    }
    &__row {
        width: 94%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin: 10px 3%;
    }
    &__card {
        width: 31%;
        margin: 1%;
        h3 {
            @include Gilroy-Regular(16px, 20px);
            color: $secondary-text-color;
            margin: 0;
        }
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: column;
        height: 120px;
        &_small {
            height: 82px !important;
            width: 31%;
            margin: 1%;
            h3 {
                @include Gilroy-Regular(16px, 20px);
                color: $secondary-text-color;
                margin: 0;
            }
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            flex-direction: column;
        }
    }
}

.custom-handle {
    width: 20px !important;
    height: 20px !important;
    border: none !important;
    border-radius: 50% !important;
    outline: none !important;
    background: #ff9514 !important;
    top: -9px !important;
}

.custom-range {
    height: 2px !important;
    border: none !important;
    outline: none !important;
    background: #ff9514 !important;
}

.main__slider {
    width: calc(100% - 48px) !important;
    position: absolute;
    bottom: 0;
    left: 24px;
    height: 2px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: none !important;
    outline: none !important;
    background: #e1e1e1 !important;
    cursor: pointer !important;
}

.slider__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    height: 68px;
    background: #f3f3f4;
    border-radius: 16px;
}

.input__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0;
    width: 100%;
}

.ui-slider {
    &-value {
        padding-left: 24px;
        width: 75%;
        background: transparent;
        border: none;
        outline: none;
        color: $secondary-text-color;
        text-align: left;
        @include Nekst-Black(30px, 36px);
    }
    &-description {
        padding-right: 24px;
        width: 25%;
        background: transparent;
        border: none;
        outline: none;
        text-align: right;
        color: $secondary-text-color;
        @include Nekst-Black(30px, 36px);
    }
}

#initial-payment__description {
    margin: 0 7px 0 auto !important;
    width: 69px;
    height: 54px;
    background: #ebebec;
    border-radius: 16px;
}

#lease-amount,
#monthly-payment {
    background: transparent;
    border: none;
    outline: none;
    color: $main-text-color;
    text-align: left;
    @include Nekst-Black(54px, 90%);
}

@media only screen and (max-width: 1119px) {
    .main__title {
        width: 100%;
    }
    .main__card {
        width: 100%;
        margin-top: 39px;
    }
    .main__card_small {
        margin-top: 30px;
        width: 48%;
    }
}
@media only screen and (max-width: 768px) {
    .main__row {
        margin: 0 3%;
    }
    .main__title {
        width: 100%;
        @include Nekst-Black(34px !important, 31px !important);
    }
    .main__slider__value,
    .ui-slider-description {
        @include Nekst-Black(22px !important, 20px !important);
    }
    .main__card {
        margin-top: 25px;
        height: 96px;
    }
    .main__card_small {
        height: 41px !important;
        margin-top: 25px !important;
        width: 98%;
        input {
            @include Nekst-Black(22px !important, 20px !important);
        }
    }
    .main__slider {
        width: calc(100% - 48px) !important;
        position: absolute;
        bottom: 0;
        left: 24px;
        height: 2px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        border: none !important;
        outline: none !important;
        background: #e1e1e1 !important;
        cursor: pointer !important;
    }
    .slider__wrapper {
        height: 60px;
    }
    .request-button {
        height: 60px;
        @include Nekst-Black(22px, 20px);
    }
    #initial-payment__description {
        height: 46px !important;
        width: 50px;
    }
}
