mixin slider-mixin(classname1, id1, classname2, id2, classname3, id3)
    .slider__wrapper
        div.input__wrapper
            input(type="text", class="ui-slider-value", readonly="true")(class= classname2)(id= id2)
            input(type="text", class="ui-slider-description", readonly="true")(class= classname3)(id= id3)
        div(class= classname1)(id= id1)